2019-07-09_playing-with-subset_multinom.R
setting-up-evaluations-NOT-FINISHED.R
example-graphics.R
example-power.RData
example-tables.Rmd
example-tables.pdf
horizontal-example-power-plot.png
rewriting-functions.R
vertical-example-power-plot.png
